---
layout: default
layout_class: basic-page
---

<section class="form form--plusone">
  <div class="form__inner">
    <div class="form__content">
      <h3 class="form__heading">Plus One</h3>
      <div class="form__copy">
        <p>
        Did somebody go above and beyond?  Did somebody make your day a little brighter by stepping up and helping out?  Did somebody wear more than the <a href="https://vimeo.com/102830089" target="_blank">minimum number of pieces of flair</a>?
        </p>
        <p>
        Well don't just sit there, give 'em some love!  Use this form to tell the company what they did and why they should be recognized.
        </p>
        <p style="text-align: center;">
          <a href="/dashboard">Checkout the +1s!</a>
        </p>
      </div>
    </div>
    <div class="form__message" id="thanks">
      Awesome!  Feeling generous?  Go ahead, give another one...
    </div>
    <form class="form__form" accept-charset="UTF-8" action="https://formkeep.com/f/7fb87f73b89e" method="POST">
      <fieldset class="form__fieldset">
          <input type="hidden" name="utf8" value="✓">
          <input class="form__input" type="hidden" name="submitter_email">
          <input class="form__input" type="hidden" name="submittee_email">
      </fieldset>
      <fieldset class="form__fieldset">
        <div class="form__field">
          <label class="form__label">You?</label>
          <select class="form__input form__input--select" name="submitter_name">
            <option value="">Who are you?</option>
            <% data.employees.each do | employee | %>
              <option value="<%= employee.name %>" data-email="<%= employee.email %>"><%= employee.name %></option>
            <% end %>
          </select>
        </div>
        <div class="form__field">
          <label class="form__label">Who?</label>
          <select class="form__input form__input--select" name="submittee_name">
            <option value="">Who are you giving props to?</option>
            <% data.employees.each do | employee | %>
              <option value="<%= employee.name %>" data-email="<%= employee.email %>"><%= employee.name %></option>
            <% end %>
          </select>
        </div>
        <div class="form__field">
          <label class="form__label">What?</label>
          <select class="form__input form__input--select" name="reason">
            <% data.plusones.each do | plusone | %>
              <option value="<%= plusone %>"><%= plusone %></option>
            <% end %>
          </select>
        </div>
        <div class="form__field">
          <label class="form__label">Why?</label>
          <textarea class="form__input form__input--textarea" name="explanation"></textarea>
        </div>
      </fieldset>
      <fieldset class="form__fieldset">
      <button class="form__submit" type="submit">Give 'em + 1</button>
      </fieldset>
    </form>
  </div>
</section>
